<div class="main replies-edit">
  <div class="container">
    <div class="replies-edit-item">
      <%= form_with model: @reply do |f| %>
      <div class="form-body">
        <% @reply.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
        <% end %>
        <%= f.hidden_field :post_id, value: @reply.post.id %>
        <%= f.text_area :comment, rows: 5 %>
        <%= f.submit "リプライ" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
