<div class="main users-show">
  <div class="container row w-75">
    <div class="main-menu col-9">
      <div class="user-profile text-center mb-4">
        <img src="<%= @user.image %>" class="mb-3">
        <h1><%= @user.name %></h1>
        <p><%= @user.email %></p>
        <p><%= simple_format @user.description %></p>
        <% if user_signed_in? && @user.id == current_user.id && current_user.email != "guest@example.com" %>
          <%= link_to "編集", "/users/edit" %>
        <% end %>
      </div>
      <%= render partial: "posts/post", locals: { posts: @posts } %>
    </div>
    <div class="sub-menu col-3">
      <div class="sub-menu-item sidebar_fixed">
        <div class="list-group">
          <%= link_to "投稿", "/users/#{@user.id}", class: "active text-decoration-none list-group-item list-group-item-action" %>
          <%= link_to "いいね", "/users/#{@user.id}/likes", class: "text-decoration-none list-group-item list-group-item-action" %>
        </div>
      </div>
    </div>
  </div>
</div>
