<div class="main posts-index">
  <div class="container">
    <% @posts.zip(@tags) do |post, tag| %>
    <div class="posts-index-item">
      <div class="post-head">
        <a href="<%= "/users/#{post.user_id}" %>">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
          <p><%= post.user.name %></p>
        </a>
      </div>

      <div class="post-body">
        <a href="<%= "/posts/#{post.id}" %>">
          <img src="<%= "/post_images/#{post.id}.jpg" %>">
          <p>
            <%= post.comment %>
          </p>
        </a>
        <div class="tag">
          <% if tag.bird %><%= link_to("bird", "/posts/index") %><% end %>
          <% if tag.cat %><%= link_to("cat", "/posts/index") %><% end %>
          <% if tag.dog %><%= link_to("dog", "/posts/index") %><% end %>
          <% if tag.horse %><%= link_to("horse", "/posts/index") %><% end %>
          <% if tag.sheep %><%= link_to("sheep", "/posts/index") %><% end %>
          <% if tag.cow %><%= link_to("cow", "/posts/index") %><% end %>
          <% if tag.elephant %><%= link_to("elephant", "/posts/index") %><% end %>
          <% if tag.bear %><%= link_to("bear", "/posts/index") %><% end %>
          <% if tag.zebra %><%= link_to("zebra", "/posts/index") %><% end %>
          <% if tag.giraffe %><%= link_to("giraffe", "/posts/index") %><% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
