<div class="main posts-new">
  <div class="container">
    <div class="posts-new-item">
      <%= form_with model: @post do |f| %>
      <div class="form-body">
        <%= render 'share/error' %>

        <%= f.label :image, "画像" %>
        <%= f.file_field :image %>
        <%= f.label :comment, "コメント" %>
        <%= f.text_area :comment, rows: 10 %>
        <%= f.submit "投稿" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
