<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
    <div class="posts-index-item">
      <div class="post-head">
        <a href="<%= "/users/#{post.user_id}" %>">
          <img src="<%= post.user.image_name %>">
          <p><%= post.user.name %></p>
        </a>
      </div>

      <div class="post-body">
        <a href="<%= "/posts/#{post.id}" %>">
          <img src="<%= post.image_name %>">
          <p>
            <%= post.comment %>
          </p>
        </a>
        <div class="tag">
          <% if post.tag.bird %><%= link_to("bird", "/posts/tags/bird") %><% end %>
          <% if post.tag.cat %><%= link_to("cat", "/posts/tags/cat") %><% end %>
          <% if post.tag.dog %><%= link_to("dog", "/posts/tags/dog") %><% end %>
          <% if post.tag.horse %><%= link_to("horse", "/posts/tags/horse") %><% end %>
          <% if post.tag.sheep %><%= link_to("sheep", "/posts/tags/sheep") %><% end %>
          <% if post.tag.cow %><%= link_to("cow", "/posts/tags/cow") %><% end %>
          <% if post.tag.elephant %><%= link_to("elephant", "/posts/tags/elephant") %><% end %>
          <% if post.tag.bear %><%= link_to("bear", "/posts/tags/bear") %><% end %>
          <% if post.tag.zebra %><%= link_to("zebra", "/posts/tags/zebra") %><% end %>
          <% if post.tag.giraffe %><%= link_to("giraffe", "/posts/tags/giraffe") %><% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <div class="sub-menu">
    <div class="sub-menu-item">
      <%= form_tag("/posts/search", {method: "get"}) do %>
      <%= text_field_tag(:keyword) %>
      <%= submit_tag("検索") %>
      <% end %>
      <div class="topics">
        <%= link_to("すべて", "/posts/index") %>
        <h2>ランキング</h2>
        <%= link_to("全投稿のいいねランキング", "/posts/ranking/all") %>
        <%= link_to("今月のランキング", "/posts/ranking/monthly") %>
        <%= link_to("今週のランキング", "/posts/ranking/weekly") %>
        <%= link_to("今日のランキング", "/posts/ranking/daily") %>
        <h2>タグ</h2>
        <%= link_to("bird", "/posts/tags/bird") %>
        <%= link_to("cat", "/posts/tags/cat") %>
        <%= link_to("dog", "/posts/tags/dog") %>
        <%= link_to("horse", "/posts/tags/horse") %>
        <%= link_to("sheep", "/posts/tags/sheep") %>
        <%= link_to("cow", "/posts/tags/cow") %>
        <%= link_to("elephant", "/posts/tags/elephant") %>
        <%= link_to("bear", "/posts/tags/bear") %>
        <%= link_to("zebra", "/posts/tags/zebra") %>
        <%= link_to("giraffe", "/posts/tags/giraffe") %>
      </div>
    </div>
  </div>
</div>
