<div class="main posts-show">
  <div class="container">
    <div class="post-item">
      <div class="post-head mb-3">
        <a href="<%= "/users/#{@post.user_id}" %>" class="user-item">
          <img src="<%= @post.user.image %>" class="user-image">
          <p class="user-name"><%= @post.user.name %></p>
        </a>
      </div>
      <div class="post-body mb-4">
        <img src="<%= @post.image %>">
        <p><%= simple_format @post.comment %></p>
        <div class="tag">
          <% @post.tags.each do |tag| %>
            <%= link_to tag.name, "/posts/tags/#{tag.id}" %>
          <% end %>
        </div>
        <div class="post-time">
          <%= l @post.created_at %>
        </div>
        <div class="like-item">
          <%= render partial: "like", locals: { post_id: @post.id, likes_count: @post.likes.count } %>
        </div>
        <% if user_signed_in? && @post.user_id == current_user.id %>
          <div class="post-menus float-right">
            <%= link_to "編集", edit_post_path %>
            <%= link_to "削除", @post, method: :delete, data: { confirm: "本当に削除しますか？" } %>
          </div>
        <% end %>
      </div>
    </div>
    <% if user_signed_in? %>
      <%= form_with model: @reply, remote: true do |f| %>
        <div class="form-body">
          <div class="form-error"></div>
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.text_area :comment, rows: 5 %>
          <%= f.hidden_field :from_path, value: request.fullpath %>
          <%= f.submit "リプライ", class: "mt-3" %>
        </div>
      <% end %>
    <% end %>
    <div class="replies">
      <%= render partial: "replies/reply", locals: { replies: @post.replies.includes(:user).page(params[:page]) } %>
    </div>
  </div>
</div>
