<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-head">
        <a href="<%= "/users/#{@post.user_id}" %>">
          <img src="<%= @post.user.image_name %>">
          <p><%= @post.user.name %></p>
        </a>
      </div>
      <div class="post-body">
        <img src="<%= @post.image_name %>">
        <p>
          <%= @post.comment %>
        </p>
        <div class="tag clearfix">
          <% if @post.tag.bird %><%= link_to("トリ", "/posts/tags/bird") %><% end %>
          <% if @post.tag.cat %><%= link_to("ネコ", "/posts/tags/cat") %><% end %>
          <% if @post.tag.dog %><%= link_to("イヌ", "/posts/tags/dog") %><% end %>
          <% if @post.tag.horse %><%= link_to("ウマ", "/posts/tags/horse") %><% end %>
          <% if @post.tag.sheep %><%= link_to("ヒツジ", "/posts/tags/sheep") %><% end %>
          <% if @post.tag.cow %><%= link_to("ウシ", "/posts/tags/cow") %><% end %>
          <% if @post.tag.elephant %><%= link_to("ゾウ", "/posts/tags/elephant") %><% end %>
          <% if @post.tag.bear %><%= link_to("クマ", "/posts/tags/bear") %><% end %>
          <% if @post.tag.zebra %><%= link_to("シマウマ", "/posts/tags/zebra") %><% end %>
          <% if @post.tag.giraffe %><%= link_to("キリン", "/posts/tags/giraffe") %><% end %>
        </div>
        <div class="post-time">
          <%= @post.created_at %>
        </div>

        <% if user_signed_in? %>
        <% if Like.find_by(user_id: current_user.id, post_id: @post.id) %>
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
        <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
        <% else %>
        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
        <span class="fa fa-heart like-btn"></span>
        <% end %>
        <% end %>
        <% else %>
        <span class="fa fa-heart like-btn-no-hover"></span>
        <% end %>
        <p class="likes-count">
          <%= Like.where(post_id: @post.id).count %>
        </p>
        <% if user_signed_in? %>
        <% if @post.user_id == current_user.id %>
        <div class="post-menus">
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>

    <% if user_signed_in? %>
    <div class="posts-show-item">
      <%= form_tag("/replies/#{@post.id}/create", {multipart: true}) do %>
      <div class="form-body">
        <% @reply.errors.full_messages.each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
        <% end %>

        <textarea name="comment"><%= @reply.comment %></textarea>
        <input type="submit" value="リプライ">
      </div>
      <% end %>
    </div>
    <% end %>

    <% @replies.each do |reply| %>
    <div class="posts-show-item">
      <div class="reply-head">
        <a href="<%= "/users/#{reply.user_id}" %>">
          <img src="<%= reply.user.image_name %>">
          <p><%= reply.user.name %></p>
        </a>
      </div>
      <div class="reply-body">
        <p>
          <%= reply.comment %>
        </p>
        <% if current_user %>
        <% if reply.user_id == current_user.id %>
        <div class="reply-menus">
          <%= link_to("編集", "/replies/#{reply.id}/edit") %>
          <%= link_to("削除", "/replies/#{reply.id}/destroy", {method: "post"}) %>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
