<div class="main posts-index">
  <div class="container">
    <% @tags.each do |tag| %>
    <% post = Post.find(tag.post_id) %>
    <div class="posts-index-item">
      <div class="post-head">
        <a href="<%= "/users/#{post.user_id}" %>">
          <img src="<%= post.user.image %>">
          <p><%= post.user.name %></p>
        </a>
      </div>

      <div class="post-body">
        <a href="<%= "/posts/#{post.id}" %>">
          <img src="<%= post.image %>">
          <p>
            <%= simple_format(post.comment) %>
          </p>
        </a>
        <div class="tag">
          <% post.tags.each do |tag| %>
          <%= link_to tag.name, "/posts/tags/#{tag.id}" %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
